.news_container{
    width: 100%;
}
.news_block{
    display: flex;
}
.header{
    position:sticky;
}

.news{
    object-fit:contain;
    min-width:300px;
    min-height: 100px;
    max-height: 100%;
    margin-right: 10px;
    transition: transform 800ms;
    overflow-y: scroll;
    overflow-x: hidden;
    border:red 2px solid ;
    justify-content: space-around;
}

.news:hover{
    transform : scale(1.08);
    opacity: 1;
}

.news_image{
    /* min-width:vw; */
    max-width:100%;
    max-height:30%;
    overflow: hidden;
}
