body{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,8,26,1) 41%, rgba(0,212,255,1) 100%);
}
.news_container{
    width: 100%;
    
    overflow-y:hidden;
    
}
.news_container::-webkit-scrollbar {
    display: none;
  }
.news_container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  .news_block::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.news_block {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    overflow-y:auto;
  }
.news_block{
    display: flex;
    overflow: scroll;
    /* background: rgb(2,0,36); */
    color:white;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,8,26,1) 88%, rgba(0,212,255,1) 100%); */
}
.header{
    text-align: center;
    color:white;
    padding: 10px;
    overflow: hidden;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,8,26,1) 41%, rgba(0,212,255,1) 100%);

}

.news{
    color:white;
    object-fit:contain;
    /* position: fixed; */
    top:10%;
    min-width:300px;
    min-height: 100px;
    max-height: 100%;
    margin-left: 20px;
    transition: transform 800ms;
    overflow-x: hidden;
    overflow-y: hidden;
    border:rgba(0,212,255,1) 2px solid ;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.news::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.news {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
/* .news:hover{
    transform : scale(1.1);
    opacity: 1;
    min-width:300px;
    min-height: 100px;
} */

.news_image{
    /* min-width:vw; */
    max-width:100%;
    max-height:30%;
    overflow: hidden;
}

.read{
    color:yellow;
}
